[Unit]
Description=Camera live feed
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/lennicam
ExecStart=/usr/bin/python3 /home/pi/lennicam/main.py

[Install]
WantedBy=multi-user.target